<html>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/0.7.1/aframe.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.js"></script>
  <a-scene id='points'>
    <a-entity camera="active: true" look-controls wasd-controls position="0 0 0" data-aframe-default-camera></a-entity>
    <a-sphere color="red" position="0 1.5 -2"></a-sphere>
  </a-scene>
  <script type ="text/javascript">
    const mainScene = document.getElementById("points");


    function addSphere(key) {
      var value = embeddings[key];
      var datapoint = document.createElement("a-sphere");
      datapoint.setAttribute('position', String(value[0]) + " " + String(value[1]) + " " + String(value[2])); 
      datapoint.setAttribute('color', 'blue');
      datapoint.setAttribute('scale', String(0.2) + " " + String(0.2) + " " + String(0.2) + " ");
      
      var label = document.createElement("a-text");
      label.setAttribute('position', String(value[0] + 0.1) + " " + String(value[1] + 0.1) + " " + String(value[2] + 0.1)); 
      label.setAttribute('value', key);
      label.setAttribute('geometry', 'primitive:plane'); 
      label.setAttribute('look-at', '[camera]'); 
      
      mainScene.appendChild(datapoint);
      mainScene.appendChild(label); 
    }

    var embeddings = JSON.parse('{{ data | tojson |safe }}')
    Object.keys(embeddings).forEach(addSphere);
    
    $ = (queryString) => document.querySelector(queryString);
    $('a-sphere').setAttribute('color', 'blue');
  </script>
  <!-- TODO - eventually move script code into separate file -->
  <!-- TODO - figure out why script code can't be in a separate file -->
  <script type="text/javascipt" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
